{% load static from staticfiles %}
<div class="about">
    <center><img width="250" src="{% static "img/logodevelpy.png" %}"></center>
    <div class="textual">
        <br/>Desarrollado con <span style="color:red" class="glyphicon glyphicon-heart"></span> por el team <strong>develpy</strong>
        <br/>
        <br/><strong>Ruben Alvarenga</strong>
        <br/><span class="glyphicon glyphicon-user"></span> @wanderung
        <br/><span class="glyphicon glyphicon-envelope"></span> rubenalvarengan@gmail.com
        <br/><span class="glyphicon glyphicon-phone"></span> 0961 865406
        <br/><br/>
        <div class="align-right">&copy; Copyright 2015 <strong>develpy</strong></div>
    </div>
</div>